<div aria-hidden="true"
     class="fixed top-0 left-0 right-0 z-50 p-4 overflow-x-hidden overflow-y-auto flex items-center justify-center"
     id="create-boat-modal"
     tabindex="-1">
  <div class="relative w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button (click)="closeModal()"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="authentication-modal"
              type="button">
        <svg aria-hidden="true" class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
          <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"/>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8">
        <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Create a new boat</h3>
        <div *ngIf="errorMessage$ | async"
             class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          {{ errorMessage$ | async }}
        </div>
        <form (submit)="create()" [formGroup]="createForm" class="space-y-6">
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                   for="name">Name</label>
            <input
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              formControlName="name" id="name" name="text"
              placeholder="Boat name"
              required type="text">
            <div class="text-sm text-gray-500 text-right">
              {{ createForm.get('name')?.value?.length || 0 }}/{{ maxNameLength }}
            </div>
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                   for="description">Description</label>
            <textarea
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              formControlName="description" id="description" name="description"
              placeholder="Describe your boat in details here..."
              rows="4"></textarea>
            <div class="text-sm text-gray-500 text-right">
              {{ createForm.get('description')?.value?.length || 0 }}/{{ maxDescriptionLength }}
            </div>
          </div>
          <button
            [class.cursor-not-allowed]="!createForm.valid"
            [class.opacity-50]="!createForm.valid"
            [disabled]="!createForm.valid"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="submit"
          >
            <div class="flex items-center justify-center h-6">
              <div *ngIf="isLoading$ | async" class="spinner"></div>
              <ng-container *ngIf="{loading: isLoading$ | async} as data">
                <span *ngIf="!data.loading">Create</span>
              </ng-container>
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
